@page
@model AirbnbGuesthouseSite.Pages.Contact

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>CI/CD TEST</title>
</head>
<body>
<div>
    <h1>This is to test how/if CI/CD to plesk works sans GitHub actions</h1>
</div>
</body>
</html>