@page
@model AirbnbGuesthouseSite.Pages.IndexModel

@{
    ViewData["Title"] = "HOME | ";
}

<!-- 
References: 
    - Anchor Tag Helper in ASP.NET Core (https://learn.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/built-in/anchor-tag-helper?view=aspnetcore-10.0)
-->

<!-- LANDING PAGE HERO IMG -->
<section class="hero section">
    <!-- img class="section-bg" src="img/theme/hero-1.png" alt="" -->
    <div class="container hero-content">
        <p class="welcome-text">WELCOME TO</p>
        <h1 class="screen-reader-only">TRANQUILITY BASE</h1>
        <img class="hero-title" src="~/img/icons/TRANQUILITY-BASE.svg" alt="TRANQUILITY BASE" />
    </div>
</section>

<!-- KEY AMENITIES -->
<section class="amenities section">
    <!-- img class="section-bg" src="img/theme/index-1.png" alt="" -->
    <h2 class="section-title">AMENITIES</h2>
    <div class="amenities-grid">
        <div class="amenity-item">
            <div class="amenity-icon">
                <img src="~/img/icons/headset.png" alt="" />
            </div>
            <p>Purpose built virtual reality room, bringing the stars to you!</p>
        </div>
        <div class="amenity-item">
            <div class="amenity-icon">
                <img src="~/img/icons/space.png" alt="" />
            </div>
            <p>Immersive interstellar sci-fi decor throughout.</p>
        </div>
        <div class="amenity-item">
            <div class="amenity-icon">
                <img src="~/img/icons/gaming.png" alt="" />
            </div>
            <p>High-end simulators and gaming rigs.</p>
        </div>
    </div>
</section>

<!-- QUICK ENQUIRY -->
<section class="contact section">
    <!-- img class="section-bg" src="img/theme/index-2.png" alt="" -->
    <a asp-page="/Contact">
    <div class="container contact-inner">
        <div class="contact-panel">
            <h2 class="section-title">REQUEST A BOOKING</h2>
            <form class="contact-form">
                <button class="btn">Request Form</button>
            </form>
        </div>
    </div>
    </a>
</section>

