@page
@model AirbnbGuesthouseSite.Pages.Room.EditModel

@{
    ViewData["Title"] = "EDIT ROOM | ";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<div class="admin-wrapper">
    <h1>Edit Room</h1>
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Room.Id" />
                <div class="form-group">
                    <label asp-for="Room.RoomName" class="control-label">Room Name</label>
                    <input asp-for="Room.RoomName" class="form-control" />
                    <span asp-validation-for="Room.RoomName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Room.RoomDescription" class="control-label">Room Description</label>
                    <input asp-for="Room.RoomDescription" class="form-control" />
                    <span asp-validation-for="Room.RoomDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <br>
    <div>
        <a asp-page="./Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
