Checks: '
bugprone-assignment-in-if-condition,
bugprone-bool-pointer-implicit-conversion,
bugprone-branch-clone,
bugprone-casting-through-void,
bugprone-chained-comparison,
bugprone-copy-constructor-init,
bugprone-dangling-handle,
bugprone-dynamic-static-initializers,
bugprone-empty-catch,
bugprone-fold-init-type,
bugprone-inaccurate-erase,
bugprone-inc-dec-in-conditions,
bugprone-incorrect-enable-if,
bugprone-infinite-loop,
bugprone-integer-division,
bugprone-misplaced-operator-in-strlen-in-alloc,
bugprone-misplaced-pointer-arithmetic-in-alloc,
bugprone-misplaced-widening-cast,
bugprone-multi-level-implicit-pointer-conversion,
bugprone-multiple-new-in-one-expression,
bugprone-nondeterministic-pointer-iteration-order,
bugprone-non-zero-enum-to-bool-conversion,
bugprone-not-null-terminated-result,
bugprone-parent-virtual-call,
bugprone-pointer-arithmetic-on-polymorphic-object,
bugprone-redundant-branch-condition,
bugprone-reserved-identifier,
bugprone-return-const-ref-from-parameter,
bugprone-sizeof-container,
bugprone-sizeof-expression,
bugprone-standalone-empty,
bugprone-string-constructor,
bugprone-string-integer-assignment,
bugprone-string-literal-with-embedded-nul,
bugprone-suspicious-enum-usage,
bugprone-suspicious-include,
bugprone-suspicious-missing-comma,
bugprone-suspicious-realloc-usage,
bugprone-suspicious-semicolon,
bugprone-suspicious-string-compare,
bugprone-suspicious-stringview-data-usage,
bugprone-swapped-arguments,
bugprone-switch-missing-default-case,
bugprone-terminating-continue,
bugprone-too-small-loop-variable,
bugprone-unsafe-functions,
bugprone-unused-local-non-trivial-variable,
bugprone-unused-raii,
bugprone-unused-return-value,
bugprone-virtual-near-miss,
cert-dcl50-cpp,
cert-dcl58-cpp,
cert-env33-c,
cert-err52-cpp,
cert-err58-cpp,
cert-flp30-c,
cert-msc50-cpp,
cert-msc51-cpp,
concurrency-mt-unsafe,
cppcoreguidelines-*,
-cppcoreguidelines-init-variables,
-cppcoreguidelines-pro-bounds-pointer-arithmetic,
-cppcoreguidelines-special-member-functions,
-cppcoreguidelines-explicit-virtual-functions,
-cppcoreguidelines-virtual-class-destructor,
hicpp-multiway-paths-covered,
hicpp-no-assembler,
hicpp-signed-bitwise,
misc-confusable-identifiers,
misc-definitions-in-headers,
misc-header-include-cycle,
misc-include-cleaner,
misc-misleading-identifier,
misc-non-private-member-variables-in-classes,
misc-redundant-expression,
misc-unused-parameters,
modernize-avoid-bind,
modernize-avoid-c-arrays,
modernize-deprecated-headers,
modernize-deprecated-ios-base-aliases,
modernize-min-max-use-initializer-list,
modernize-redundant-void-arg,
modernize-replace-random-shuffle,
modernize-use-bool-literals,
modernize-use-nullptr,
modernize-use-starts-ends-with,
performance-avoid-endl,
performance-faster-string-find,
performance-for-range-copy,
performance-implicit-conversion-in-loop,
performance-inefficient-algorithm,
performance-inefficient-string-concatenation,
performance-inefficient-vector-operation,
performance-trivially-destructible,
performance-type-promotion-in-math-fn,
performance-unnecessary-copy-initialization,
performance-unnecessary-value-param,
portability-restrict-system-includes,
portability-std-allocator-const,
readability-avoid-const-params-in-decls,
readability-avoid-nested-conditional-operator,
readability-braces-around-statements,     
readability-const-return-type,
readability-container-contains,
readability-container-data-pointer,
readability-container-size-empty,
readability-convert-member-functions-to-static,
readability-delete-null-pointer,
readability-duplicate-include,
readability-else-after-return,
readability-function-cognitive-complexity   ,
readability-function-size,
readability-implicit-bool-conversion,
readability-inconsistent-declaration-parameter-name,
readability-magic-numbers,
readability-misleading-indentation,
readability-misplaced-array-index,
readability-named-parameter,
readability-operators-representation,
readability-redundant-access-specifiers,
readability-redundant-control-flow,
readability-redundant-declaration,
readability-redundant-member-init,
readability-redundant-preprocessor,
readability-redundant-string-cstr,
readability-redundant-string-init,
readability-reference-to-constructed-temporary,
readability-simplify-boolean-expr,
readability-simplify-subscript-expr,
readability-static-accessed-through-instance,
readability-string-compare,
readability-suspicious-call-argument,
readability-uniqueptr-delete-release,
clang-analyzer-core.DivideZero,
clang-analyzer-core.NullDereference,
clang-analyzer-core.uninitialized.*,
clang-analyzer-cplusplus.NewDeleteLeaks,
clang-analyzer-deadcode.DeadStores,
-wno-pragma-once-outside-header,
-clang-diagnostic-pragma-once-outside-header
'
HeaderFilterRegex: '.*'


CheckOptions:
  - key: readability-braces-around-statements.ShortStatementLines
    value: 2
  - key: readability-function-cognitive-complexity.Threshold
    value: 15
  - key: readability-function-size.StatementThreshold
    value: 25
  - key: readability-function-size.NestingThreshold
    value: 5
  - key: portability-restrict-system-includes.Includes
    value: '*,-*.h'
